@font-face {
    font-family: "DestructionManual"; 
    src: url("fontes/Destruction Manual.otf") format("opentype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ap"; 
    src: url("fontes/AppleGaramond.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "romansd";
    src: url("fontes/Roman\ SD.ttf") format("truetype");
}
@font-face {
    font-family: "lastc";
    src: url("fontes/LastChristmas.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}

/*header*/
.cabecalho {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background-color: none;
    background: linear-gradient(#564e4b, #2B2B2B);
    padding: 10px 0px; 
    height: 8vh;
}

.menu{
    background-color: green;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    height: 8vh;
    
}
.mobile-menu{
    display:none;
    cursor: pointer;
    
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    justify-content: space-between;
}


.logo {
    width: 100px; 
    height: auto;
}
.sanduiche{
    display: flex;
    justify-content: flex-end;
    padding: 0, 0, 0, 200px;
}

.mobile-menu {
    display: none; 
    cursor: pointer;
    padding: 20px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #000; 
    margin: 6px 0;
    transition: 0.3s;
    
    
}

.mobile-menu.active .line1{
    transform:rotate(-45deg) translate(-8px, 8px); /*rotaciona*/
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform:rotate(45deg) translate(-5px, -7px); /*translaciona*/
}


@media (max-width: 999px) {
    .mobile-menu {
        display: block; 
    }

    .nav-list {
        display: flex;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: linear-gradient(#504946, #2B2B2B) ;
        
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        
        
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .nav-list a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/*modal*/
/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #45a049;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Saudação */
#mensagem-saudacao {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

/*-----Body-----*/
.body{
    overflow: hidden; /*AAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
}

/* introducao: */
#introducao{
    background-color: #000000;
    
}
h1{
    color: rgb(212, 211, 189);
}
p {
    color: #ddd;
    font-family: 'ap';
    line-height: 1.4;
    font-size: 25px;
    text-align: center;
    
}

p2 {
    color: white;
    font-family: 'romansd'; 
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    /*padding: 0px 20px 0px 30px;*/
}
p1{
    color: yellow;
}
.barbearia {
    position: absolute; 
    bottom: 30px; 
    transform: translateX(-50%); 
    opacity: 0.15;
    color: white; 
    font-size: 30px; 
    z-index: 2;
}


.box-imagem{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin: 10px 10px 0 10px;
}

.img-cortando-cabelo{
    width: 38vh;
    opacity: 1;
    box-shadow: 0 0 10px 8px #6D6D6D;
    /*0 (horizontal offset): Não desloca para os lados.
    0 (vertical offset): Não desloca para cima ou baixo.
    10px (blur radius): Define o desfoque da sombra.
    5px (spread radius): Faz a sombra "espalhar" para fora.*/
}

/*Sobre nós*/

#sobre-nos{
    background-color: #efe6d2e5;
}
.img-tesoura{
    position: absolute; 
    width: 100vw; 
    height: auto;
    top: 99vh;
    color: white; 
    font-size: 30px; 
    z-index: -1;
}
.risco{
    margin: 0 0 0 20px;
    border-left: 3px solid #BF7223;
}
.texto-sobrenos{
    padding: 15px;
    
}
#titulo-sobrenos{
    color: black;
}

#p-sobrenos{
    text-align: left;
    color: black;
    margin: 5px;
    padding: 0px 20px 0px 30px;
}
#p1-sobrenos{
    font-family: 'lastc';
    font-size: 50px;
    color: #BF7223;
    padding: 0 0 0 45px;
    margin: 10px;
    border: 2px solid #BF7223;
    border-radius: 40%;
    text-align: center;
    display: flex; 
    align-items: center;
}
/*parte das imagens e descrição dos barbeiros*/

.img-barbeiros #texto-risco{
    color: black;
    font-size: 30px;
    margin: 10px;
    border-top: solid 1.3px #BF7223;
}
.img-barbeira{
    display: flex;
    padding: 10px 10px 20px 30px;
}
.barbeira{
    width: 190px;
    min-height: 200px;
    max-height: 210px;
    z-index: 10;
    box-shadow: -8px 8px 10px 0px #545454;
    /*animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    view indica que a animação acontece apenas quando o elemento está visivel na tela */
}
.titulo-barbeira{
    display:flex;
    padding: 0 0 5px 40px;
    align-items:center;
    font-family: 'romansd';
    font-size:30px;
    color: #945a20;
}
.div-do-texto-barbeira{
    background-color: #bc87528f;
    margin: 0 0 0 15px;
    
}
#texto-barbeira {
    font-family: 'ap';
    line-height: 1.4;
    font-size: 25px;
    padding: 10px ;
    color: #000;
    
}
.img-barbearia {
    display:flex;
    
}

.img-bigodudo{
    display: flex;
    padding: 10px 10px 20px 30px;
}
.bigodudo{
    width: 190px;
    min-height: 200px;
    max-height: 210px;
    box-shadow: -8px 8px 10px 0px #545454;
}

.img-barbeirocriancas {
    display: flex;
    padding: 10px 20px 20px 30px;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
}
.criancas{
    width: 190px;
    min-height: 200px;
    max-height: 210px;
    max-width: 100%;
    box-shadow: -8px 8px 10px 0px #545454;
}
.img-barba {
    display: flex;
    padding: 10px 20px 20px 30px;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    background: linear-gradient(#efe6d2e5, #605a55);
}
.barba{
    width: 190px;
    min-height: 200px;
    max-height: 210px;
    max-width: 100%;
    box-shadow: -8px 8px 10px 0px #545454;
}
.div-do-texto-barba{
    background-color: #bc87528f;
    margin: 0 0 0 15px;
}
#texto-barba {
    font-family: 'ap';
    line-height: 1.4;
    font-size: 25px;
    padding: 10px ;
    color: #000;
    
}
.titulo-barba{
    display:flex;
    padding: 0 0 5px 40px;
    align-items: center;
    font-family: 'romansd';
    font-size:30px;
    color: #945a20;
}


/*Trabalhos Realizados*/
#trabalhos-realizados{
    background-color: #332e2a;

}

.img-cadeira{
    display: flex;
    position: absolute;
    z-index: -1;
    background-color: #000;
}
.Estamos-Abertos {
    justify-content: center; 
    align-items: center;
}

.Estamos-Abertos img {
    width: 100%; 
    max-width: 440px;
    height: auto; 
    object-fit: contain;
}
#h3-ta{
    padding: 10px 0 ;
    font-family: 'ap';
    color: #c6b398;
    font-size: 40px;
    text-align: center;
}
#p-ta{
    color: #c6b398;
    margin: 10px;
    background-color: #9b704565;
    box-shadow: 8px 8px 10px 3px #18110bd9; 
}

.div-img-ta {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}

.img1, .img2 {
    max-width: 150px;
    margin: 20px;
    border-radius: 10%;
    box-shadow: -8px 8px 10px 3px #18110bd9; 
}

.img1, .img2 {
    flex: 1 1 10px;  
}

.img3, .img4, .img5, .img6 {
    max-width: 150px;
    margin: 20px;
    flex-basis: 100%;
    border-radius: 10%;
    box-shadow: -8px 8px 10px 3px #18110bd9; 
}
.Servicos-disponiveis{
    background-color: #221d19 ;
}
.linha-servicos{
    margin: 0;
    padding: 0;
    color: #c6b398;
    
}
#h3-servicos{
    padding: 10px 0 ;
    font-family: 'ap';
    color: #c6b398;
    font-size: 40px;
    text-align: center;
}

#p-servicos {
    padding: 0 0 0 10px;
    text-align: left;
    font-family: 'ap';
    font-size: 24px;
    line-height: 1.6;
    color: #d5d4d4;
}
#p-servicos strong {
    font-size: 28px;
    color: rgb(194, 188, 188); 
    margin-top: 10px;
    display: inline-block; 
}

#p-servicos-preco {
    color: #9fb279; /* cor destacada para os preços */
    font-weight: bold;
}


/* Estilos da seção de agendamento */
#Agendamentos {
    background-color: #130d09f5;
    padding: 20px;
    text-align: center;
}

.texto-agendamento h3 {
    font-family: 'lastc';
    font-size: 50px;
    color: #BF7223;
}

#form-agendamento {
    background-color: #cc9863;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 500px;
}

#form-agendamento label {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}

#form-agendamento input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

#form-agendamento button {
    background-color: #51300f;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#form-agendamento button:hover {
    background-color: #341e07b5;
}

#lista-agendamentos {
    margin-top: 30px;
    text-align: center;
    color: white;
}

#lista-agendamentos ul {
    list-style: none;
    padding: 0;
}

.lista-agendamentos li{
    list-style: none;
    background-color: #89511ab5;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    color: white;
    max-width: 400px;
    text-align: left;
    font-size: 18px;
}

